<!-- Botão adicionar -->
<div class="btn-group"> <!--  navbar-right para alinhar-->
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    + Adicionar <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-toggle="modal" data-target="#criarTarefa">Tarefa</a></li>
    <li><a href="#" data-toggle="modal" data-target="#criarLembrete">Lembrete</a></li>
{#    <li class="divider"></li>#}
  </ul>
</div>
<!-- fim Botão adicionar -->