<!-- Modal Criar Papel  -->
<div class="modal fade" id="criarPapel" tabindex="-1" role="dialog"
     aria-labelledby="Criar e editar Papel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('.modal').hide()" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cadastro de papel</h4>
                <em>* itens obrigatórios!</em>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <form ng-controller="CriarPapel as criarPapel" ng-submit="criarPapel.addPapel(papel)"
                                  method="post" class="form-horizontal" role="form">
                                <!-- <legend draggable="true">Cadastro de papel</legend> -->
                                <div class="form-group col-md-10">
                                    <label for="id_nome">Nome: <abbr title="Campo obrigatório">*</abbr></label>
                                    <input ng-model="criarPapel.papel.nome" name="nome" type="text" class="form-control" value="{{ form.nome.value }}"
                                           maxlength="200" id="id_nome" placeholder="Escreva o nome..">
                                    {% for error in form.nome.errors %}
                                        <p class="text-danger">{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-12" draggable="true">
                                    <label for="id_descricao">Descricao:</label>
                                    <textarea ng-model="criarPapel.papel.descricao" name="descricao" id="id_descricao" class="form-control" rows="4"
                                              placeholder="Descrição do papel..">{{ form.descricao.value }}</textarea>
                                    {% for error in form.descricao.errors %}
                                        <p class="text-danger">{{ error|escape }}</p>
                                    {% endfor %}

                                </div>
                                <div class="form-group col-md-8">
                                    <input ng-init="criarPapel.papel.usuario = {{ user.id }}" ng-model="criarPapel.papel.usuario" type="hidden" id="id_usuario_papel" name="usuario" >
                                    <button type="submit" class="btn btn-success" draggable="true">Cadastrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('.modal').hide()" class="btn btn-default" data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- fim MODAL papel -->