<!-- Modal Tarefa -->
<div class="modal fade {{ abrir_modal_tarefa }}" id="criarTarefa" role="dialog" aria-labelledby="Criar e editar tarefa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('.modal').hide()" class="close" data-dismiss="modal"
                        aria-hidden="true">x
                </button>
                <h4 class="modal-title">Cadastrar Tarefa</h4>
                <em>* itens obrigatórios!</em>
            </div>
            <div class="modal-body">
                <form id="form_tarefa" action="{% if editar_tarefa %}{% url 'editar_tarefa' %}{% else %}{% url 'criar_tarefa' %}{% endif %}" class="form-horizontal" method="post" role="form">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="id_titulo_tarefa" class="control-label">Título <abbr
                                    title="Campo obrigatório">*</abbr></label>
                        </div>
                        <div class="col-sm-10">
                            <input name="titulo" type="text" class="form-control" value="{{ form.titulo.value }}"
                                   maxlength="200" id="id_titulo_tarefa" placeholder="Escreva o título da tarefa..">
                            {% for error in form.titulo.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-2">
                            <label for="id_descricao_tarefa" class="control-label">Descrição</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea name="descricao" id="id_descricao_tarefa" class="form-control" rows="4"
                                      placeholder="Descrição da tarefa..">{{ form.descricao.value }}</textarea>
                            {% for error in form.descricao.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Data e hora -->
                    <!-- Data -->
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_data_tarefa" class="control-label">Data <abbr
                                        title="Campo obrigatório">*</abbr></label>
                            </div>
                            <div class="col-sm-4">
                                <!-- todo setar valor default com o now-->
                                <input id="id_data_tarefa" name="data" type="Date" value="{% now  "Y-m-d" %}"
                                       class="form-control">
                                {% comment if form.data.value %}
                                    <input name="data" type="Date" value="{{ form.data.value|date:'Y-m-d' }}" class="form-control">
                                {% else %}
                                    <input name="data" type="Date" value="{% now  "Y-m-d" %}" class="form-control">
                                {% endif %}
                                {% for error in form.data.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                                {% endcomment %}
                            </div>
                        </div>
                        <!-- fim Data -->
                        <!-- Hora -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_hora_tarefa" class="control-label">Hora</label>
                            </div>
                            <div class="col-sm-4">
                                {% if form.hora.value %}
                                    <input name="hora" type="Time" value="{{ form.hora.value|time:"H:i" }}"
                                           class="form-control" id="id_hora_tarefa">
                                {% else %}
                                    <input name="hora" type="Time" class="form-control" id="id_hora_tarefa">
                                {% endif %}
                                {% for error in form.hora.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- fim Hora -->
                    </div>
                    <!-- fim Data e Hora-->
                    <hr/>
                    <!-- Duraçaõ e Prioridade -->
                    <div class="form-group">
                        <!-- Duração -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_duracao_tarefa" class="control-label">Duração</label>
                            </div>
                            <div class="col-sm-4">
                                {% if form.duracao.value %}
                                    <input name="duracao" type="Time" value="{{ form.duracao.value|time:"H:i" }}"
                                           class="form-control" id="id_duracao_tarefa">
                                {% else %}
                                    <input name="duracao" type="Time" class="form-control" id="id_duracao_tarefa">
                                {% endif %}
                                {% for error in form.duracao.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- fim Duração -->
                        <!-- Prioridade -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_prioridade_tarefa" class="control-label">Prioridade</label>
                            </div>
                            <div class="col-sm-4">
                                <select name="prioridade" class="form-control" id="id_prioridade_tarefa">
                                    {% if form.prioridade.value %}
                                        <option value="{{ form.prioridade.value }}"
                                                selected="">{{ form.prioridade.value }}</option>
                                    {% else %}
                                        <option value="" selected="" disabled="">Selecione</option>
                                    {% endif %}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <!-- fim Prioridade -->
                    </div>
                    <!-- Duraçaõ e Prioridade -->
                    <hr>
                    <!-- Projeto e Papel (inline) -->
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_papel_tarefa" class="control-label">Papel</label>
                            </div>
                            <div class="col-sm-4">
                                <!-- todo remover o style inline -->
                                <select name="papel" class="form-control" style="width: 150px;" id="id_papel_tarefa">
                                    <option value="" selected="" disabled="">Selecione</option>
                                    {% for papel in request.session.papeis %}
                                        <option value="{{ papel.id }}">{{ papel.nome }}</option>
                                    {% empty %}
                                        <option value="" selected="" disabled="">Nenhum</option>
                                    {% endfor papeis %}
                                </select>
                            </div>
                        </div>
                        <!-- Projeto -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_projeto_tarefa" class="control-label"
                                       contenteditable="true">Projeto</label>
                            </div>
                            <div class="col-sm-4">
                                <!-- todo remover o style inline -->
                                <select name="projeto" class="form-control" style="width: 150px;"
                                        id="id_projeto_tarefa">
                                    <!-- todo verificar se a tarefa possui projeto e imprimir nome e id como opção selecionada -->
                                    <option value="" selected="" disabled="">Selecione</option>
                                    {% for projeto in request.session.projetos %}
                                        <option value="{{ projeto.id }}">{{ projeto.nome }}</option>
                                    {% empty %}
                                        <option value="" selected="" disabled="">Nenhum</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- fim Projeto -->
                    </div>
                    <!-- Projeto e Papel (inline) -->
                    <hr/>
                    <!-- Repetir -->
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_repeticao_tarefa" class="control-label">Repetir</label>
                            </div>
                            <div class="col-sm-3">
                                <select name="repeticao" class="form-control" id="id_repeticao_tarefa">
                                    <option value="" selected="" disabled="">Selecione</option>
                                    <option value="diario">Diariamente</option>
                                    <option value="semanal">Semanal</option>
                                    <option value="mensal">Mensal</option>
                                    <option value="anual">Anual</option>
                                </select>
                            </div>
                        </div>
                        <!-- Nùmero repetições -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <input name="num_repeticao" type="number" placeholder="Número de repetições!"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- fim repetir -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="usuario" value="{{ user.id }}" id="id_usuario_tarefa">
                            {% comment %}
                            {% if id_tarefa %}
                                <input type="hidden" name="id" value="{{ id_tarefa }}" id="id_id_tarefa">
                            {% endif %}
                            {% endcomment %}
                            <input type="hidden" name="id" value="{{ form.id.value }}" id="tarefa_id_id">
                            <input type="hidden" name="url" value="{{ url }}" id="id_url_tarefa">
                            <button id="button_editar_tarefa" type="submit" class="btn btn-success pull-left">Cadastrar</button>

                        </div>
                    </div>
                </form>
            </div>
            <!--
            <div class="modal-footer">
                <a class="btn btn-default" class="close" onclick="$('.modal').hide()" data-dismiss="modal">Fechar</a>
            </div>
            -->
        </div>
    </div>
</div>
<!-- fim Modal Tarefa -->

<!-- Exibe Tarefa -->
<div class="modal fade" id="abrirTarefa" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ tarefa.titulo }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ tarefa.descricao }}</p>
                <!-- todo adicionar a url do href via jquery (abrirTarefa) -->
                <a href="{% url 'excluir_tarefa' 1 %}" onclick="return confirm('Tem certeza que deseja excluir?');" role="button" class="btn btn-danger" title="Excluir tarefa!"><span class="glyphicon glyphicon-trash"></span> Excluir</a>
                <a href="{% url 'excluir_tarefa' 1 %}" role="button" class="btn btn-success" title="Excluir tarefa!"><i class="glyphicon glyphicon-ok"></i> Concluir</a>
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
            -->
        </div>

    </div>
</div>
<!-- fim Exibe tarefa -->


<!-- todo remover -->
{#<!-- Inicio MODAL Lembrete -->#}
{#<div class="modal fade {{ abrir_modal_lembrete }}" id="criarLembrete" role="dialog"#}
{#     aria-labelledby="Criar e editar lembrete">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" onclick="$('.modal').hide()" class="close" data-dismiss="modal"#}
{#                        aria-hidden="true">x#}
{#                </button>#}
{#                <h4 class="modal-title">Cadastrar Lembrete</h4>#}
{#                <em>* itens obrigatórios!</em>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#                <form id="criar-lembrete" action="{% url 'criar_lembrete' %}" method="post" class="form-horizontal"#}
{#                      role="form"> {% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <div class="col-sm-2">#}
{#                            <label for="id_titulo" class="control-label">Título <abbr title="Campo obrigatório">*</abbr></label>#}
{#                        </div>#}
{#                        <div class="col-sm-10">#}
{#                            <input type="text" value="{{ form.titulo.value }}" name="titulo" maxlength="200"#}
{#                                   class="form-control" id="id_titulo" placeholder="Título do lembrete">#}
{#                            {% for error in form.titulo.errors %}#}
{#                                <p class="text-danger">{{ error|escape }}</p>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group has-feedback">#}
{#                        <div class="col-sm-2">#}
{#                            <label for="id_descricao" class="control-label">Descrição</label>#}
{#                        </div>#}
{#                        <div class="col-sm-10">#}
{#                            <textarea name="descricao" id="id_descricao" class="form-control" rows="4"#}
{#                                      placeholder="Descrição da lembrete..">#}
{#                                {% if form.descricao.value == 'None' %}{% else %}#}
{#                                    {{ form.descricao.value }}#}
{#                                {% endif %}#}
{#                            </textarea>#}
{#                            {% for error in form.descricao.errors %}#}
{#                                <p class="text-danger">{{ error|escape }}</p>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <div class="col-sm-2">#}
{#                            <label class="control-label">Data <abbr title="Campo obrigatório">*</abbr></label>#}
{#                        </div>#}
{#                        <div class="col-sm-4">#}
{#                            {% if form.data.value %}#}
{#                                <input name="data" type="Date" value="{{ form.data.value|date:'Y-m-d' }}"#}
{#                                       class="form-control">#}
{#                            {% else %}#}
{#                                <input name="data" type="Date" value="{% now  "Y-m-d" %}" class="form-control">#}
{#                            {% endif %}#}
{#                            {% for error in form.data.errors %}#}
{#                                <p class="text-danger">{{ error|escape }}</p>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <div class="col-sm-offset-2 col-sm-10">#}
{#                            <input type="hidden" name="usuario" value="{{ user.id }}">#}
{#                            <input type="hidden" name="url" value="{{ url }}">#}
{#                            <button type="submit" class="btn btn-success" data-loading-text="Cadastrando...">Cadastrar#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <a class="btn btn-default" onclick="$('.modal').hide()" data-dismiss="modal">Fechar</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<!-- Fim MODAL Lembrete -->#}