{% extends "base.html" %}
{% block title %}
    <title>Tarefas do dia - Produtiver</title>
{% endblock title %}

{% block angular_imports %}
    {% load staticfiles %}
    <script src={% static "js/angular.min.js" %}></script>
    <script src={% static "app/projetos/projetos.js" %}></script>
    <script src={% static "app/papeis/papeis.js" %}></script>
    <script src={% static "app/lembretes/lembretes.js" %}></script>
    <script src={% static "app/tarefas/tarefas.js" %}></script>
    <script src={% static "app/sistema/dia.js" %}></script>
{#    <script src={% static "app/app.js" %}></script>#}
{% endblock angular_imports %}

{% block corpo %}
    <div class="container" ng-app="dia" ng-controller="DiaController as DiaCtrl">
        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Início</a>
                    </li>
                    <li class="active">Tarefas do dia</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Exibe resultado da alteração da tarefa -->
                <div class="alert alert-success  alert-dismissable" id="mostrar-alerta" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resultado"></div>
                </div>

                <!-- Mensagens do form (msg) -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                <!-- Botão adicionar -->
                {% include 'includes/botao-adicionar.html' %}
                <!-- fim Botão adicionar -->
            </div>
        </div>

        <br/>
        <!-- Tarefas do dia -->
        <div class="row" ng-controller="LembreteController as LembreteCtrl">
            <div class="col-md-12">
                <!-- Lembretes -->
                    <table ng-show="lista_lembretes.length > 0" class="table table-striped table-condensed">
                        <tbody>
                            <tr ng-repeat="lembrete in lista_lembretes">
                                <td>[[ lembrete.titulo ]]</td>
                                <td><a ng-click="LembreteCtrl.delete([[lembrete.pk]], [[$index]])"
                                       onclick="return confirm('Tem certeza que deseja excluir?');" role="button"
                                       class="btn btn-danger btn-xs" title="Excluir lembrete"><span
                                        class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th class="col-sm-11">Lembretes</th>
                            <th class="col-sm-1">Excluir</th>
                        </tr>
                        </thead>
                    </table>

                <!-- fim Lembretes-->

                <!-- Modal Lembrete (o CriarLembrete fica dentro do LembreteCtrl -->
                {% include 'includes/modal-lembretes.html' %}
                <!-- fim Modal Lembrete -->
            </div>
        </div>
        <div class="row" ng-controller="TarefaController as TarefaCtrl">
            <div class="col-md-12">
                <h3>Tarefas
                    <small>[[ data_atual ]]</small>
                    <div class="btn-group btn-group-sm">
                        <button ng-click="DiaCtrl.proximo_anterior('anterior', [[ data_atual ]] )" type="button"
                                class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        <button ng-click="DiaCtrl.proximo_anterior('proximo', [[ data_atual ]] )" type="button"
                                class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    </div>
                </h3>

                <!-- Lista Tarefas -->
                <table class="table table-condensed table-hover table-striped">
                    <tbody id="tabelaTarefas">
                    <tr ng-repeat="tarefa in lista_tarefas">
                        <!-- Tarefas (ng-class insere a class para tarefas concluidas e atrasadas) -->
                        <td>
                            <!-- todo remover a class checkTarefa de todas listas de tarefas (criar um import tarefas) -->
                            <input ng-checked="tarefa.status == 1" ng-click="TarefaCtrl.mudar_status([[tarefa.pk]], [[$index]])" class="big-checkbox" type="checkbox" />
                            <a ng-class="{'text-danger': tarefa.status==2, 'concluida': tarefa.status==1}" href="" data-toggle="modal" data-target="#abrirTarefa" data-id="{{ tarefa.id }}"
                               data-descricao="{{ tarefa.descricao }}"
                               data-titulo="{{ tarefa.titulo }}">[[ tarefa.titulo ]] </a>
                        </td>
                        <td ng-class="{'text-danger': tarefa.status==2, 'concluida': tarefa.status==1}">[[ tarefa.duracao || "0:00:00" ]]</td>
                        <td ng-class="{'text-danger': tarefa.status==2, 'concluida': tarefa.status==1}">
                            [[ tarefa.data|date:'dd/MM/yyyy' ]]
                        </td>
                        <td ng-class="{'text-danger': tarefa.status==2, 'concluida': tarefa.status==1}">
                            [[ tarefa.hora|date:'HH:hh' ]]
                        </td>
                        <td ng-class="{'text-danger': tarefa.status==2, 'concluida': tarefa.status==1}">
                            [[ tarefa.projeto.nome || "Nenhum" ]]
                        </td>

                        <td ng-class="{'text-danger': tarefa.status==2, 'concluida': tarefa.status==1}">
                            [[ tarefa.papel.nome || "Nenhum" ]]
                        </td>
                        <!-- fim Tarefas -->

                        <!-- Editar e Excluir -->
                        <td>
                            <a ng-click="TarefaCtrl.abrirTarefa([[$index]])" role="button"
                               class="btn btn-info btn-xs" title="Editar tarefa!"><span
                                    class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            <a ng-click="TarefaCtrl.delete([[tarefa.pk]], [[$index]])"
                               onclick="return confirm('Tem certeza que deseja excluir?');" role="button"
                               class="btn btn-danger btn-xs" title="Excluir tarefa!"><span
                                    class="glyphicon glyphicon-trash"></span></a>
                        </td>
                        <!-- Editar e Excluir fim -->
                    </tr>
                    <!-- Total Duração -->
                    <tr>
                        <td></td>
                        <td><strong>[[ total_duracao ]]</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- Total Duracação -->

                    </tbody>
                        <thead>
                        <tr>
                            <th class="col-sm-4"># Título</th>
                            <th class="col-sm-1">Duração</th>
                            <th class="col-sm-1">Data</th>
                            <th class="col-sm-1">Hora</th>
                            <th class="col-sm-2">Projeto</th>
                            <th class="col-sm-2">Papel</th>
                            <th class="col-sm-1">Editar</th>
                            <th class="col-sm-1">Deletar</th>
                        </tr>
                        </thead>
                </table>
                <!-- Lista Tarefas fim -->

                <!-- Progresso bar -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progresso }}" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{ progresso }};">
                        {{ progresso }}
                    </div>
                </div>
                <!-- fim progresso bar -->

                <!-- Modal Tarefa -->
                {% include 'includes/modal-tarefas.html' %}
                <!-- fim Modal Tarefa -->

            </div> <!-- col-md-12-->
        </div> <!-- row -->

        <!-- Próximo dia e Anterior « --> <!-- todo excluir proximo e anterior (funções tambḿe) -->
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <ul class="pager">#}
{#                    <div class="pull-left">#}
{#                        <!-- Próximo -->#}
{#                        <form action="{% url 'dia' %}" method="post" role="form">{% csrf_token %}#}
{#                            <input type="hidden" name="ant_prox" value="anterior"/>#}
{#                            <input type="hidden" name="data" value="{{ data|date:'Y-m-d' }}"/>#}
{#                            <li class="next">#}
{#                                <button type="submit" class="btn btn-default">« Dia anterior</button>#}
{#                            </li>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="pull-right">#}
{#                        <!-- Anterior -->#}
{#                        <form action="{% url 'dia' %}" method="post" role="form">{% csrf_token %}#}
{#                            <input type="hidden" name="ant_prox" value="proximo"/>#}
{#                            <input type="hidden" name="data" value="{{ data|date:'Y-m-d' }}"/>#}
{#                            <li class="next">#}
{#                                <button type="submit" class="btn btn-default">Próximo dia »</button>#}
{#                            </li>#}
{#                        </form>#}
{#                    </div>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
        <!-- Fim próximo dia Anteior -->

        <hr>
        <!-- Seta a página que chamou o modal -->
        <!-- Importa todos os modals -->
        {% with url='dia.html' %}
            {% include 'includes/modals.html' %}
        {% endwith %}
    </div>

{% endblock corpo %}