{% extends "base.html" %}
{% block angular_imports %}
    {% load staticfiles %}
    <script src={% static "js/angular.min.js" %}></script>
    <script src={% static "app/projetos/projetos.js" %}></script>
{% endblock angular_imports %}
{% block corpo %}
    <div class="container" ng-app="projetos" ng-controller="ProjetoController as ProjetoCtrl">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Início</a></li>
                    <li class="active">Projetos</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Alert (via Jquery) -->
                <div id="alerta"> </div>
                <!-- fim Alert (via Jquery) -->

{#                <!-- Botão adicionar todo verificar como adicionar tarefas e lembretes -->#}
{#                {% include 'includes/botao-adicionar.html' %}#}
{#                <!-- fim Botão adicionar -->#}

                <h1>Meus projetos</h1>
                <ul class="list-group col-md-8">
                    <li class="list-group-item">
                        <a href="#" class="text-muted" data-toggle="modal" data-target="#criarProjeto"><i class="glyphicon glyphicon-plus"></i> Adicionar novo projeto!</a>
                    </li>
                    <li class="list-group-item" ng-repeat="projeto in lista_de_projetos">
                        <a href="/projetos/projeto/[[ projeto.pk ]]/" title="[[ projeto.nome ]]">[[ projeto.nome ]]</a>
                        <a href="" ng-click="ProjetoCtrl.delete([[projeto.pk]], [[$index]])" onclick="return confirm('Tem certeza que deseja excluir?');" role="button"
                           class="remove-item btn btn-danger btn-xs pull-right espaco" title="Excluir projeto!"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="" ng-click="ProjetoCtrl.abrirProjeto([[$index]])" role="button" class="btn btn-info btn-xs pull-right" title="Editar projeto!"><span class="glyphicon glyphicon-pencil"></span></a>
                    </li>
                    <p ng-show="lista_de_projetos.length == 0" class="text-muted">Nenhum projeto cadastrado! <a href="#" data-toggle="modal" data-target="#criarProjeto">Cadastre um projeto!</a></p>
                </ul>
                <!-- fim Lista projetos -->
            </div>
        </div>
        <hr>
{#        {% with url='projetos.html' %}#}
{#            {% include 'includes/modals.html' %}#}
{#        {% endwith %}#}

        <!-- Inclui modal projetos (somente pode ser criado em projetos.html) -->
        {% include 'includes/modal-projetos.html' %}

    </div>

{% endblock corpo %}
