{% extends 'base.html' %}
{% block title %}
    <title>Semana - Produtiver</title>
{% endblock title %}

{% block angular_imports %}
    {% load staticfiles %}
    <script src={% static "js/angular.min.js" %}></script>
    <script src={% static "js/angular-locale_pt-br.js" %}></script>
    <script src={% static "app/projetos/projetos.js" %}></script>
    <script src={% static "app/papeis/papeis.js" %}></script>
    <script src={% static "app/lembretes/lembretes.js" %}></script>
    <script src={% static "app/tarefas/tarefas.js" %}></script>
    <script src={% static "app/sistema/semana.js" %}></script>
{% endblock angular_imports %}

{% block corpo %}
    <div class="container" ng-app="semana" ng-controller="SemanaController as SemanaCtrl">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Início</a></li>
                    <li class="active">Semana</li>
                </ul>

                <!-- Mensagens do form (msg) -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% include 'includes/botao-adicionar.html' %}
            </div>
        </div>

        <!-- SEMANA -->
        <div id="row">
            <div id="col-md-12">
                <h1>Semana
                    <div class="btn-group btn-group-sm">
                        <button ng-click="SemanaCtrl.proximo_anterior('anterior', [[ data_semana ]] )" type="button"
                                class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        <button ng-click="SemanaCtrl.proximo_anterior('proximo', [[ data_semana ]] )" type="button"
                                class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    </div>
                </h1>
            </div>
        </div>


        <div id="semana_dia" ng-controller="TarefasSemana as TarefasSemana">
            <div class="" ng-class="{'row': $index == 0, 'row': $index == 3, 'row': $index == 5}" ng-repeat="lista_tarefas in tarefas_semana">
                <div ng-show="$index == 3" class="clearfix"></div>
                <div ng-show="$index == 6" class="clearfix"></div>
                <!-- DIA SEMANA -->
                <div class="col-md-4 nopadding" >
                    <h3>[[ dias_semana[$index] | date: 'EEEE' ]]
                        <small>[[ dias_semana[$index] | date: 'dd/MM/yyyy' ]]</small>
                    </h3>
                    <!-- Tarefas -->
                    [[$index]]
                    <small>Tarefas: <strong>{{ request.session.total_horas_segunda|default_if_none:"00:00:00" }}</strong>
                    </small>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="lista in lista_tarefas">
                            <div class="titulo-tarefa"> [[ lista.tarefa.titulo ]]</div>
                            <a href=""
                               onclick="return confirm('Tem certeza que deseja excluir?');" role="button"
                               class="btn btn-danger btn-xs pull-right espaco" title="Excluir tarefa!"><span
                                    class="glyphicon glyphicon-remove"></span> </a>
                            <form action="{% url 'editar_tarefa' %}" method="get" role="form" class="pull-right">
                                <input type="hidden" name="url" value="semana.html"/>
                                <button type="submit" name="id" value="{{ tarefa.id }}"
                                        class="btn btn-info btn-xs pull-right"><span
                                        class="glyphicon glyphicon-pencil"></span></button>
                            </form>
    {#                        <li ng-show="!lista_tarefas.length">No events</li>#}
    {#                        <p class="text-muted" ng-show="!lista_tarefas.length">Nenhuma tarefa para segunda!</p>#}
                        </li>
                        <li class="list-group-item" ng-show="!lista_tarefas.length">
                            <p class="text-muted" >Nenhuma tarefa para [[ dias_semana[$index] | date: 'EEEE' ]]!</p>
                        </li>
                    </ul>
                    <!-- fim Tarefas -->

                </div>
                <!-- fim DIA SEMANA -->

            </div>
        </div>

{#        <!-- Próxima semana e Anterior « --> todo excluir método #}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <ul class="pager">#}
{#                    <div class="pull-left">#}
{#                        <!-- Próximo -->#}
{#                        <form action="{% url 'semana' %}" method="post" role="form"> {% csrf_token %}#}
{#                            <input type="hidden" name="ant_prox" value="anterior"/>#}
{#                            <input type="hidden" name="data" value="{{ data_semana|date:'Y-m-d' }}"/>#}
{#                            <li class="next">#}
{#                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Semana anterior</button>#}
{#                            </li>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="pull-right">#}
{#                        <!-- Anterior -->#}
{#                        <form action="{% url 'semana' %}" method="post" role="form"> {% csrf_token %}#}
{#                            <input type="hidden" name="ant_prox" value="proxima"/>#}
{#                            <input type="hidden" name="data" value="{{ data_semana|date:'Y-m-d' }}"/>#}
{#                            <li class="next">#}
{#                                <button type="submit" class="btn btn-default">Próximo semana <i class="glyphicon glyphicon-chevron-right"></i></button>#}
{#                            </li>#}
{#                        </form>#}
{#                    </div>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#        <!-- Fim Próxima semana e Anterior -->#}
        <div class="row"></div>
        <div class="col-md-12"><hr/></div>

        {% with url='semana.html' %}
            {% include 'includes/modals.html' %}
        {% endwith %}


    </div> <!-- fim container -->
{% endblock corpo %}